/* Adminmain.css */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(185, 219, 233);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  .header {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
  }
  .updateadmin{
    padding: 1.5%;
    border-radius: 10%;
    background-color: rgb(237, 54, 54);
  }
  .updateadmin1{
    padding: 1.5%;
    border-radius: 10%;
    background-color: rgb(225, 157, 69);
    margin-top: 3%;
  }
  .admin-info {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .admin-info:hover {
    transform: scale(1.02);
  }
  
  .admin-info p {
    margin: 10px 0;
    font-size: 20px;
    color: #333;
  }
  
  .data-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .data-input p {
    margin-right: 20px;
    font-size: 18px;
  }
  
  .data-input input[type="number"] {
    width: 60px;
    height: 30px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
  }
  .updateadmin{
    margin-top: 5%;
  }
  /* Add more styles as needed */
  